body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #fff;
}

.app {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  margin: 2rem auto;
  border: 2px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #eee;
}

.header {
  margin-top: 0;
}

.piano {
  position: relative;
  width: 400px;
  height: 260px;
}

.white-keys, .black-keys {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
}

button {
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

.note-label {
  text-align: center;
  line-height: 1.2
}

.key-label {
  font-size: 10px;
  opacity: 0.6
}

@media (max-width: 768px) {
  .key-label {
    display: none;
  }
}

.control-panel {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.control-panel label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.control-panel input[type="range"] {
  width: 140px;
  cursor: pointer;
}

.volume {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.transpose {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.song-selector select {
  margin-left: 0.5rem;
  margin-top: 1rem;
  padding: 0.25rem;
  font-size: 1rem;
}

.song-sheet {
  font-family: monospace;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.song-title {
  margin-bottom: 0.5rem;
  text-align: center;
}

.notes-line {
  margin-bottom: 0.5rem;
}

.notes {
  margin-left: 1rem;
  margin-right: 1dvh;
}